@model List<ProjetFinSessionBD.Models.ViewModel.EcurieViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="Ecuries" asp-action="TousLesGagants">Voir tous les gagants d'évènements</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                Victories
            </th>
            <th>
                Pilotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ecurie in Model)
        {
            <tr>
                <td>
                    @ecurie.Name
                </td>
                <td>
                    @ecurie.Victoires
                </td>
                <td>
                    <ul>
                        @foreach (var pilote in ecurie.pilotes)
                        {
                            <li>@pilote.Name - Victoires: @pilote.Victoires</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
